@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
 <!DOCTYPE html>
<html lang="fr">
<head>
<title>BurgerTown</title>
</head>
<body>
<div>
    <h1 class="display-4">BurgerTown Acceuil</h1>
    <p><a asp-page="MenuBurgers">Voir le menu des burgers</a></p>
</div>

</body>
</html> 
