@page
@model BurgerTown.Pages.MenuBurgersModel


@{
    ViewData["Title"] = "Administration des burgers";
}
 <!DOCTYPE html>
<html lang="fr">
<head>
    <link rel="stylesheet" href="~/css/style.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap" rel="stylesheet"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,900&display=swap" rel="stylesheet"> 
    <title>Menu des burgers</title>
</head>
<body>

    <a asp-page="Index" id="burgerTown">Burger town</a>
    <div class="menu_title">
        <h1>Les burgers</h1>
    </div>


    <div class="menuList">
        @foreach (var burger in Model.Burger)
        {
            <div class="menuListItem">
                <span class="menuListTitle">@burger.Name$</span>
                <span class="menuListPrice"> @String.Format("{0:0.00}", burger.Price) $</span>
                <br />
                <span class="menuListIngredients"> - @burger.Ingredient $</span>
            </div>
            
        }
    </div>

</body>
</html> 

