@page
@model BurgerTown.Pages.MenuBurgersModel

@{
    ViewData["Title"] = "Administration des burgers";
}
 <!DOCTYPE html>
<html lang="fr">
<head>
<title>Menu des burgers</title>
</head>
<body>
    <h1>Menu des burgers</h1>

    <a asp-page="Index">Retrour à l'acceuil</a>
    
<ul>
    <li>Burger1</li>
    <li>Burger2</li>
    <li>Burger3</li>
</ul>

</body>
</html> 

