@page
@model BurgerTown.Pages.Admin.IndexModel

@{
    ViewData["Title"] = "Administration des burgers";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Vous devez vous authentifier</h1>

<br />
@if (Model.DisplayInvalideAccountMessage == true)
{
    <div class="alert alert-danger" role="alert">
        ERREUR : Ce compte est invaide
    </div>
}
<br />

<form method="post">
    <input type="text" name="username" placeholder="Login"><br /><br />
    <input type="password" name="password" placeholder="Mot de passe"><br /><br />
    <button>Se connecter</button>
</form>
