* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Playfair Display', serif;
  font-family: 'Dancing Script', cursive;
  color: #eeee;
}
a, a:hover {
  text-decoration: none;
  color: inherit;
}
body {
  background:linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/backgroud3.jpg") no-repeat;
  background-attachment: fixed;
  background-color: black;
  background-position: center;
  background-size: cover;
  height: 100vh;
}
body.homePage {
  background: url("../img/mainBackgroud1.jpg") no-repeat center center fixed;
  background-size: cover;
  background-color: black;
  height: 100vh;
}
#burgerTown {
  font-weight: bold;
  font-size: 7rem;
  margin: 2rem;
}
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
#burgerTown:hover, a.homePage:hover {
  color: #DD7835;
}
h2 {
  display: inline;
  background-color: #DD7835;
  padding: .6rem 1.2rem;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 3rem;
  border: .15rem solid #f69250;
  border-radius: .5rem;
  box-shadow: 5px 10px 18px #262626;
}
#burgerTownHomePage {
  font-weight: bold;
  font-size: 7rem;
  margin: 2rem 2rem 0rem;
}
a.homePage {
  font-size: 2.2rem;
  display: block;
  text-align: center;
  padding-bottom: 4rem;
}
.homePageCitation {
  text-align: center;
  font-size: 1.8rem;
  margin: 1rem;
}
.menu_title {
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: 1rem;
}
.menuList {
  margin-left: 3rem;
}
.menuListItem {
  margin: 2rem 0;
}
.menuListTitle {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 1.8rem;
  text-shadow: 5px 8px 14px #424242;
}
.menuListPrice {
  color: #DD7835;
  margin-left: 1rem;
  font-size: 1.8rem;
}
.menuListIngredients {
  display: block;
  font-family: 'Playfair Display', serif;
  font-size: 1.2rem;
  color: #D8D8D8;
  padding-bottom: .5rem;
  width: 40rem;
  text-shadow: 5px 8px 14px #424242;
}
.menuListVege {
  font-size: 1rem;
  font-weight: bold;
  font-family: 'Playfair Display', serif;
  background-color: #DD7835;
  color: #1a1e21;
  padding: .18rem 1rem;
  border-radius: .8rem;
  
}
