* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Playfair Display', serif;
  font-family: 'Dancing Script', cursive;
  color: #eeee;
}
a, a:hover {
  text-decoration: none;
  color: inherit;
}
body {
  background: url("../img/backgroud.jpg") no-repeat;
  background-color: dimgray;
  background-position: center;
  background-size: cover;
  height: 100vh;
}
#burgerTown {
  font-weight: bold;
  font-size: 6rem;
  margin: 2rem;
}
#burgerTown:hover {
  color: #DD7835;
}
h1 {
  display: inline;
  background-color: #DD7835;
  padding: 1rem;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 3rem;
}
.menu_title {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.menuList {
  margin-left: 2rem;
}
.menuListItem {
  font-size: 2rem;
  margin: 2rem 0;
}
.menuListTitle {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 2.2rem;
}
.menuListPrice {
  color: #DD7835;
  margin-left: 1.5rem;
}
.menuListIngredients {
  display: block;
    font-family: 'Playfair Display', serif;
  font-size: 1.5rem;
  color: #D8D8D8;
  margin-top: .7rem;
}
.