@page
@model BurgerTown.Pages.Admin.burgers.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Burger</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Burger.BurgerID" />
            <div class="form-group">
                <label asp-for="Burger.Name" class="control-label"></label>
                <input asp-for="Burger.Name" class="form-control" />
                <span asp-validation-for="Burger.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Burger.Price" class="control-label"></label>
                <input asp-for="Burger.Price" class="form-control" />
                <span asp-validation-for="Burger.Price" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Burger.Vegetarian" /> @Html.DisplayNameFor(model => model.Burger.Vegetarian)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Burger.Ingredient" class="control-label"></label>
                <input asp-for="Burger.Ingredient" class="form-control" />
                <span asp-validation-for="Burger.Ingredient" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
